/* Header styles */
header {
  padding: 10px;
  height: auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo-container {
  margin-right: 20px;
  border:none;
}

.logo {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  background-image: url(../assets/huduma.png);
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center; /* Add this to vertically align the nav links with the login button */
}

.nav-links li {
  margin-left: 16px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
}

.nav-links a:hover {
  color: #ccc;
}

.btn .btn-primary {
  border-radius: 30px;
}

/* Media Queries */
@media (max-width: 768px) {
  .logo {
    width: 80px;
    margin-top: 0;
  }

  .slogan {
    display: none;
  }

  .nav-links li {
    margin-left: 10px;
    margin-top: 0;
  }
}
