/* Header styles */
header {
  background-color: #333;
  padding: 10px;
  height: auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  background-image: url("../assets/huduma.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100px; /* Adjust the width as per your requirements */
  height: 80px;
  margin-top: -20px;
}

.slogan {
  font-size: 20px;
  color: #ccc;
  margin-left: 20px; /* Adjust the margin as per your requirements */
  font-weight: bold;
  display: flex;
  text-align: center;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input[type="text"] {
  padding: 10px;
  border: none;
  border-radius: 30px;
  outline: none;
  background-color: white;
}

.search-icon {
  color: orange;
  margin-left: 8px;
  cursor: pointer;
}

.nav-links {
  list-style: none;
  display: flex;
  margin-left: 20px; /* Adjust the margin as per your requirements */
}

.nav-links li {
  margin-left: 16px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
}

.nav-links a:hover {
  color: #ccc;
}

/* Media Queries */
@media (max-width: 768px) {
  .logo {
    width: 80px; /* Adjust the width as per your requirements */
    margin-top: 0;
  }

  .slogan {
    display: none;
  }

  .search-bar input[type="text"] {
    padding: 8px;
  }

  .nav-links li {
    margin-left: 10px;
    margin-top: 0;
  }
}
