/* Landing page container */
.landing-page {
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px;
}

/* Hero section */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 80px;
}

.hero-content .btn {
  border-radius: 40px; /* Adjust the value to your desired radius */
}

.hm-banner {
  background-image: url('../assets/hmbanner.png');
  width: 50%;
  background-size: cover;
  background-position: center;
  padding: 70px;
}

.hero-content p {
  font-size: 18px;
  margin-bottom: 24px;
}

/* Featured category section */
.featured-category {
  margin-bottom: 40px;
}

.featured-headline {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.category-container {
  height: 350px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

.category-container.plumber {
  background-image: url('../assets/tailor.jpg');
}

.category-container.artisan {
  background-image: url('../assets/artisan.png');
}

.category-container.electrician {
  background-image: url('../assets/electrician.jpg');
}

.category-container.mechanic {
  background-image: url('../assets/femalemechanic.jpg');
}

.category-container.builder {
  background-image: url('../assets/builders.jpg');
}

.category-container.dj {
  background-image: url('../assets/dj.jpg');
}

/* Features section */
.feature-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.feature-card {
  flex: 0 0 32%;
  max-width: 32%;
  text-align: center;
  margin-bottom: 25px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
  margin-right: 20px;
  box-sizing: border-box;
}

.feature-card.feature-1 img {
  background-image: url('../assets/visibility.png');
}

.feature-card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.feature-card h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.feature-card p {
  font-size: 14px;
  color: #666;
  margin-bottom: 0;
}

.feature-card svg {
  font-size: 40px; /* Increase the font size to make the icons larger */
}

/* Testimonials section */
/* Testimonials section */
.testimonials {
  margin-bottom: 40px;
}

.testimonials-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 40px;
  max-width: 300px;
  margin-right: 20px;
  border: 2px solid orange;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  padding: 20px;
  background-color: #fff;
}

.testimonial-image {
  width: 150px;
  height: 150px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  margin-bottom: 20px;
}

.john-doe-avatar {
  background-image: url('../assets/aiman.jpg');
}

.jane-smith-avatar {
  background-image: url('../assets/aiwoman.jpg');
}

.mark-johnson-avatar {
  background-image: url('../assets/aiman2.jpg');
}

.sarah-williams-avatar {
  background-image: url('../assets/aiwoman2.jpg');
}

.testimonial-content {
  width: 100%;
}

.testimonial-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.testimonial-profession {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}

.testimonial-quote {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 0;
}


